<!doctype html>
<html lang="en">

@model Products

@{
    ViewData["Title"] = "MyWork";
    var userID = ViewData["userID"]; 
    var userType = ViewData["userType"];
    Products product = new Products();
    UserTable user = new UserTable();

    string[] TableHeaders = new string[]
    {
    "Product ID",
    "Product",
    "Price",
    "Category",
    "Availability"
    };
}



<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/ProductPage.css">
</head>

<body style="margin: 0; padding: 0; background-image: url('https://i.pinimg.com/564x/0e/cb/18/0ecb187bdc4fd92a31f5a2c182bc2b5d.jpg'); background-size: cover; background-position: center;">

    <div style="color:white">
        <p>User Type: @userType</p>
        <p>User ID: @userID</p>
   </div>
       
    

    <div class="table">
        <table class="table table-bordered table-hover">
            <thread>
                <tr>

                    @{
                        foreach(var head in TableHeaders)
                        {
                           <th>
                                @head
                           </th>
                        }
                    }

                </tr>
            </thread>

            <tbody>


                @{
                    if (product != null)
                    {
                        foreach (var p in  Model.product)
                        {
                            <tr>
                                <td>@p.productID</td>
                                <td>@p.productName</td>
                                <td>@p.productPrice</td>
                                <td>@p.productCategory</td>
                                <td>@p.productAvailability</td>
                                <td>
                                    <form asp-controller="Transaction" asp-action="MyWork" method="post">
                                        <input type="hidden" name="userID" value="@userID" />
                                        <input type="hidden" name="productID" value="@p.productID" />
                                        <button type="submit">Place Order</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>

    </div>

    <div style="text-align:center;padding-top: 40px; background-image: url('https://i.pinimg.com/564x/59/9d/f8/599df837687c73e9b3bb9ff1dff4c208.jpg'); height: 110px; background-size: cover;">
        <form>
            <select name="Products">
                @foreach (var name in Model.product)
                {
                    <option value="@name.productName">@name.productName</option>
                }
            </select>
           <a href="/Details/MyWork">
                <input type="submit" value="Submit" name="submit-product">
           </a>  
        </form>
    </div>

</body>